{% extends 'store/base.html' %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-header" style="background: #1c5253; color: #f3ffc6">
        <h5 class="mb-0">Create Account</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button class="btn btn-trendzy w-100 fw-bold">Register</button>
        </form>
        <p class="mt-3 text-center text-muted">
          Already have an account?
          <a href="{% url 'login' %}" style="color: #1c5253">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
